<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="JsGoogleCompile" Language="1033" Version="1.0.0.0" Manufacturer="James Wiseman" UpgradeCode="ee753074-9d56-40ad-851e-f82e54ce3269">
        <Package InstallerVersion="300" Compressed="yes"/>
        <Media Id="1" Cabinet="myapplication.cab" EmbedCab="yes" />

        <!-- Step 1: Define the directory structure -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="APPLICATIONROOTDIRECTORY" Name="JsGoogleCompile"/>
            </Directory>
        </Directory>

        <!-- Step 2: Add files to your installer package -->
        <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
            <Component Id="JsGoogleCompile.CLI.exe" Guid="53e22a30-705f-410b-96bc-62aa50966e1a">
                <File Id="JsGoogleCompile.CLI.exe" Source="JsGoogleCompile.CLI.exe" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="JsGoogleCompile.dll" Guid="45E16065-C689-497D-A5F5-7A45580C49BA">
                <File Id="JsGoogleCompile.dll" Source="JsGoogleCompile.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="log4net.config" Guid="ab2c0e3e-194b-4631-b142-2d767f5d3f7e">
                <File Id="log4net.config" Source="log4net.config" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="log4net.dll" Guid="3a576ad1-01fe-464f-83a1-c38abc4134ba">
                <File Id="log4net.dll" Source="log4net.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="log4net.xml" Guid="d7eb2544-f3a6-4fa7-aaa8-8b1f3f4dbcde">
                <File Id="log4net.xml" Source="log4net.xml" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="sample.js" Guid="C60817DA-DC9A-4A8D-827B-56AB0DD0A36E">
                <File Id="sample.js" Source="sample.js" KeyPath="yes" Checksum="yes"/>
            </Component>
        </DirectoryRef>

        <!-- Step 3: Tell WiX to install the files -->
        <Feature Id="MainApplication" Title="Main Application" Level="1">
            <ComponentRef Id="JsGoogleCompile.CLI.exe" />
            <ComponentRef Id="JsGoogleCompile.dll" />
            <ComponentRef Id="log4net.config" />
            <ComponentRef Id="log4net.dll" />
            <ComponentRef Id="log4net.xml" />
            <ComponentRef Id="sample.js" />
        </Feature>
    </Product>
</Wix>